<h1>Editing Asteroide</h1>

<%= render 'form', asteroide: @asteroide %>

<%= link_to 'Show', @asteroide %> |
<%= link_to 'Back', asteroides_path %>

<link rel="stylesheet" type="text/css" href= "CSS.css"> 
<link href="css/style.css" rel="stylesheet">
<style type="text/css">
body
{
background-image: url(file:///home/german/Examen/app/views/asteroides/index.html.erb);
background-size: 100%;
background-repeat: no-repeat;

}
