<h1 style="color:yellow">New Asteroide</h1>

<%= render 'form', asteroide: @asteroide %>

<%= link_to 'Back', asteroides_path %>

<link rel="stylesheet" type="text/css" href= "CSS.css"> 
<link href="css/style.css" rel="stylesheet">
<style type="text/css">
body
{
background-image: url(http://latam.aetn.com/THC/noticias/ASTEROIDE-3.jpg);
background-size: 100%;
background-repeat: no-repeat;
}
