<h1>New Estrella</h1>

<%= render 'form', estrella: @estrella %>

<%= link_to 'Back', estrellas_path %>

<link rel="stylesheet" type="text/css" href= "CSS.css"> 
<link href="css/style.css" rel="stylesheet">
<style type="text/css">
body
{
background-image: url(http://madridfree.org/wp-content/uploads/2012/12/estrellas.jpg);
background-size: 100%;
background-repeat: no-repeat;
}
