<h1>New Planet</h1>

<%= render 'form', planet: @planet %>

<%= link_to 'Back', planets_path %>

<link rel="stylesheet" type="text/css" href= "CSS.css"> 
<link href="css/style.css" rel="stylesheet">
<style type="text/css">

body
{
background-image: url(https://i.ytimg.com/vi/gMZwsqPLr6o/maxresdefault.jpg);
background-size: 100%;
background-repeat: no-repeat;
}
