<%= form_with(model: astronomium, local: true) do |form| %>
  <% if astronomium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(astronomium.errors.count, "error") %> prohibited this astronomium from being saved:</h2>

      <ul>
      <% astronomium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
