<h1>New Galaxium</h1>

<%= render 'form', galaxium: @galaxium %>

<%= link_to 'Back', galaxia_path %>

<link rel="stylesheet" type="text/css" href= "CSS.css"> 
<link href="css/style.css" rel="stylesheet">
<style type="text/css">
body
{
background-image: url(http://www.eso.org/public/archives/images/screen/eso0436c.jpg);
background-size: 100%;
background-repeat: no-repeat;
}
